.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  
}

.itemNav {
  padding: 1rem 5rem;
  background-color: aqua;
  border: 3px solid black;
}

.page {
  font-size: x-large;
  padding: 5rem;
}

.footer {
  background-color: aquamarine;
}